@import "../../../ownStyles/_variables";

// Base jokes block
.jokes {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: $background_color_2;

  .fa-heart {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    color: red;
    cursor: pointer;
  }
}

.commentIcon {
  position: absolute;
  left: 40px;
  top: 67px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $background_color_1;

  img {
    margin-top: 3px;
    width: 23px;
  }
}

.jokeTextBlock {
  margin: 67px 40px 45px 100px;
  color: $font_color_2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
}

.jokeId {
  width: 100%;
  margin-bottom: 5px;

  a {
    margin-left: 5px;
    color: $secondary_color;
  }

  i {
    color: $secondary_color;
    margin-left: 5px;
  }
}

.jokeText {
  color: $font_color_1;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
}

.jokeDate {
  color: $font_color_2;
  margin-bottom: 10px;

  b {
    font-weight: bold;
  }
}

.jokeTrueCategory {
  padding: 6px 20px;
  background-color: $background_color_1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $font_color_1;
  font-weight: 500;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .joke {
    .fa-heart {
      top: 20px;
      right: 20px;
    }
  }

  .commentIcon {
    left: 20px;
    top: 47px;
  }

  .jokeTextBlock {
    margin: 47px 20px 20px 80px;
  }

  .jokeText {
    margin-bottom: 20px;
  }
} // Base jokes block

// favourite jokes block
.favouriteJokes {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding: 88px 40px 20px 40px;
  z-index: 3;
  background-color: $background_color_2;

  .jokes {
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .joke {
    border-radius: 10px;
    background-color: $background_color_1;

    .fa-heart {
      top: 20px;
      right: 20px;
    }
  }

  .commentIcon {
    left: 20px;
    top: 47px;
    background-color: $background_color_2;
  }

  .jokeTextBlock {
    margin: 47px 20px 20px 80px;
  }

  .jokeText {
    margin-bottom: 20px;
  }

  .jokeDate {
    color: $font_color_2;
  }

  .jokeTrueCategory {
    background-color: $background_color_2;
  }
} // favourite jokes block

//При переходе в размер дисплея планшета:
// 1) Фиксируам блок с фоном .favoriteJokes справа и скрываем его
// 2) Фиксируем блок с шутками .jokes справа и сверху
// и др.
@media screen and (max-width: 960px) {
  .favouriteJokes {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    .jokes {
      position: absolute;
      top: 88px;
      right: 0;
      left: 0;

      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .favouriteJokes {
    .jokes {
      padding: 0 20px;
    }
  }
}
