$font_color_1: #333;
$font_color_2: #ababab;

$background_color_1: #fff;
$background_color_2: #f8f8f8;

// button and link
$secondary_font_color: #fff;

$secondary_color: #8ea7ff;
$secondary_color_2: #7291ff;

