@import "./ownStyles/variables";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $font_color_1;
  background-color: #555;
}

//usefull dinamic classes
.displayB {
  display: block;
}

.overflowH {
  overflow: hidden;
}
